* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(45deg, #2cd8d2, #984fc9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Monaco', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
	margin-top: 50px;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	background: linear-gradient(45deg, #51a2ff, #b97fe0);
	color: #FFFFFF;
	font-size: 12px;
	padding: 12px 20px;
	margin-top: 7px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
	border: solid 1px;
	outline: 0;
	letter-spacing: 0.08rem;
	border-radius: 0.05rem;
	position: relative;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #51a2ff, #b97fe0);
	z-index: -1;
	border-radius: 0.15rem;
	border: solid 0.1px white;
	transition: all 0.3s ease-in-out;
}

button.style::after {
	border: 0.1;
	/* box-shadow: 0px 0px 0px 2px white; */
	top: 0.3rem;
	left: 0.3rem;
}
button.style:hover::after {
	top: -0.3rem;
	left: -0.3rem;
	width: calc(100% + 0.3rem * 2);
	height: calc(100% + 0.3rem * 2);
}

span{
	position: relative;
	display: inline-flex;
	width: 180px;
	height: 55px;
	margin: 0 15px;
	perspective: 1000px;
  }
  span a{
	font-size: 19px;
	letter-spacing: 1px;
	transform-style: preserve-3d;
	transform: translateZ(-25px);
	transition: transform .25s;
	font-family: 'Montserrat', sans-serif;
	
  }
  span a:before,
  span a:after{
	position: absolute;
	content: "BUTTON";
	height: 55px;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px solid black;
	box-sizing: border-box;
	border-radius: 5px;
  }
  span a:before{
	color: #fff;
	background: #000;
	transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
	color: #000;
	transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
	transform: translateZ(-25px) rotateX(-90deg);
  }


form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	font-weight: bold;
	border-radius: 30px;
	color: #FFFFFF;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 10px 0;
	width: 50%;
}

.container {
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
	width: 700px;
	max-width: 100%;
	min-height: 420px;
	font-family:Arial, Helvetica, sans-serif;
}

table {
	width: relative;
	border-collapse: collapse;
	overflow: hidden;
	min-width: 50%;
	padding-left: 20px;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	text-align: left;
}

th {
	text-align: left;
}

tbody tr:hover {
	background-color: rgba(255,255,255,0.3);
}
tbody td {
	position: relative;
}
tbody td:hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: rgba(255,255,255,0.2);
	z-index: -1;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}